.hzy-custom-footer__container {
  display: flex;
  width: 100%;
  justify-content: center;
  background: var(--header_background);

  .hzy-custom-footer__content {
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    padding: 2em 0 1em 0;

    .hzy-custom-footer__content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      color: var(--secondary);
      padding: 2em 0 1em 0;
    }

    .hzy-custom-footer__content-top {
      display: flex;
      flex: 1 1 100%;

      // left container (bottom on mobile)
      .hzy-custom-footer__brand-blurb {
        display: flex;
        flex: 1 1 50%;

        .hzy-custom-footer__brand-container {
          flex: 1;
          .hzy-custom-footer__brand-logo {
            margin-bottom: 1em;
            img {
              height: 40px;
            }
          }
          .hzy-custom-footer__brand-content {
            color: var(--secondary);
            a {
              text-decoration: underline;
            }
          }
        }

        .hzy-custom-footer__blurb-container {
          flex: 1;
          .hzy-custom-footer__blurb-logo {
            margin-bottom: 1em;
            img {
              height: 40px;
            }
          }
          .hzy-custom-footer__blurb-text {
            color: var(--secondary-high);
          }
        }
      }
      
      .hzy-custom-footer__links-container {
        flex: 1 1 50%;
        .hzy-custom-footer__links-content {
          display: flex;
          flex-wrap: nowrap;
          margin-left: 1em;
        }
      }

      .hzy-custom-footer__links-content,
      .hzy-custom-footer__brand-content {
        ul {
          list-style: none;
          margin: 0;
          min-width: 100px;
        }
        li {
          margin: 0.5em 0;
        }
      }
    }

    .hzy-custom-footer__content-bottom {
      width: 100%;
      margin-top: 1em;
      display: flex;
      align-items: center;
      border-top: 1px solid rgba(var(--primary-low), 0.05);
      .hzy-custom-footer__social {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        .hzy-custom-footer__social-link {
          margin: 20px 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          .d-icon {
            color: var(--secondary);
            min-width: unset;
            margin: 0;
            font-size: $font-up-2;
            opacity: 1;
          }
        }
      }
      .hzy-custom-footer__bottom-link {
        color: var(--secondary-high);
        margin: 0 0.25em;
        font-size: $font-down-2;
      }
    }

    .hzy-custom-footer__bottom-links {
      flex: 1;
    }
    .hzy-custom-footer__link-list span {
      font-weight: bold;
      color: var(--tertiary);
    }
    .hzy-custom-footer__link-wrapper a {
      color: var(--secondary-high);
    }
    .hzy-custom-footer__link-list {
      flex: 1;
    }
    .d-icon {
      margin-right: 5px;
      opacity: 0.7;
      min-width: 16px;
      text-align: center;
      &.fa-none {
        min-width: unset;
      }
      .rtl & {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
}

// sticky footer
#main > div:first-child {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-outlet {
  flex: 1 0 auto;
  max-width: calc(100% - 16px);
  .mobile-view & {
    max-width: calc(100% - 20px);
  }
  width: $large-width;
}

@media screen and (max-width: 1120px) {
  .hzy-custom-footer__container {
	  .hzy-custom-footer__content {
	    padding-left: 1em;
	    padding-right: 1em;
	  }
  }
}

@media screen and (max-width: 660px) {
  .hzy-custom-footer__container {
  	.hzy-custom-footer__content {
      .hzy-custom-footer__content-top {
        flex-direction: column-reverse;
        .hzy-custom-footer__brand-blurb {
          flex: 1 1 100%;
          margin-top: 2em;
        }
        .hzy-custom-footer__links-container {
          flex: 1 1 100%;
          .hzy-custom-footer__links-content {
            margin-left: 0;
          }
        }
      }
		}
  }
}

.static-login .hzy-custom-footer__container {
  margin-top: 3em;
}
