{{#if showFooter}}
  <div class="hzy-custom-footer__container">
    <div class="hzy-custom-footer__content">
      <div class="hzy-custom-footer__content-top">

        <div class="hzy-custom-footer__brand-blurb">
          <div class="hzy-custom-footer__brand-container">
            <div class="hzy-custom-footer__brand-logo">
              <a href="{{brandLogoLink}}" target="_blank"><img src="{{brandLogo}}" alt="{{brandLogoTitle}}"></a>
            </div>
            <div class="hzy-custom-footer__brand-content">
              <ul>
                <li>
                  <span>{{brandAddressFirst}}</span>
                </li>
                <li>
                  <span>{{brandAddressSecond}}</span>
                </li>
                <li>
                  <span>{{brandAddressThird}}</span>
                </li>
                <li>
                  <a href="tel:{{brandTel}}">{{brandTel}}</a>
                </li>
                <li>
                  <a href="mailto:{{brandEmail}}">{{brandEmail}}</a>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="hzy-custom-footer__blurb-container">
            <div class="hzy-custom-footer__blurb-logo">
              <img src="{{blurbLogo}}">
            </div>
            <div class="hzy-custom-footer__blurb-text">
              {{blurb}}
            </div>
          </div>
        </div>

        <div class="hzy-custom-footer__links-container">
          <div class="hzy-custom-footer__links-content">
            {{#each linkSections as |section|}}
              <div class="hzy-custom-footer__link-list">
                <span class="{{section.className}}" title="{{section.title}}">
                  {{section.text}}
                </span>
                <ul>
                  {{#each section.childLinks as |link|}}
                    <li class="hzy-custom-footer__link-wrapper {{link.className}}">
                      <a class="hzy-custom-footer__link" title="{{link.title}}" href="{{link.href}}" target="{{link.target}}">
                        {{link.text}}
                      </a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="hzy-custom-footer__content-bottom">
        <div class="hzy-custom-footer__bottom-links">
          {{#each smallLinks as |link|}}
            <a class="hzy-custom-footer__bottom-link {{link.className}}" title="{{link.title}}" target="{{link.target}}" href="{{link.href}}">{{link.text}}</a>
          {{/each}}
        </div>
        <div class="hzy-custom-footer__social">
          {{#each socialLinks as |link|}}
            <a class="hzy-custom-footer__social-link {{link.className}}" title="{{link.title}}" target="{{link.target}}" href="{{link.href}}">{{d-icon link.icon}}</a>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
{{/if}}
